/* 
table {
	width: 1200px;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

table, tr, th, td {
	border: 1px solid black;
}

img {
	width: 100px;
	height: 60px;
}

.icon {
	margin: 0;
	width: 30px;
	height: 20px;
	float: right;
	margin-right: 5px;
	text-decoration: none;
}

#add_button {
	width: 80px;
	height: 20px;
	float: right;
	margin-left: 5px;
	text-decoration: none;
	line-height: 20px;
}

.style_tage_a {
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
	color: blue;
}

td, th {
	height: 50px;
	color: aqua;
}
} */