

/*Table*/

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

/*view_detail*/
.destacados{
    padding: 20px 0;
	text-align: center;
}
.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
.do_tr, .do_th{
	font-size: 18px;
	border-radius: solid 2px;
	text-align: center;
}
.do_td{
	
	font-size: 16px;
	text-align: center;
	
}

.langEN{
	width: 40px;
	height: 25px; 
	background-color: blue; 
	position: fixed; 
	top:3px; 
	right:65px ;
	content:
    border: 3px solid #73AD21;
}

.langKH{
	width: 40px;
	height: 25px; 
	background-color: blue; 
	position: fixed; 
	top:3px; 
	right:15px ;
	content:
    border: 3px solid #73AD21;
}

