<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Homepage</title>

<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="css/nexus.css">
<link rel="stylesheet" type="text/css" href="js/jquery.js">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/css/bootstraps.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="js/jquery.js">

</head>
<body>
	<div id="body-bg">
	
		<!-- Phone/Email -->
		<div id="pre-header" class="background-gray-lighter">
			<div class="container no-padding">
				<div class="row hidden-xs">
					<div class="col-sm-6 padding-vert-5">
						<strong th:text="#{phone}">Phone:</strong>&nbsp;(+855) 16 666 321
					</div>
					<div class="col-sm-6 text-right padding-vert-5">
						<strong th:text="#{email}">Email:</strong>&nbsp;hok.ngy168@gmail.com
					</div>					
				</div>
			</div>
		</div>
		<div class="langEN">
			<a href="/?lang=en">
				<img alt="" src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg">
			</a>
		</div>
		<div class="langKH">
			<a href="/?lang=kh">
				<img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/255px-Flag_of_Cambodia.svg.png">
			</a>
		</div>

		<!-- End Phone/Email -->
		<!-- Header -->
		<div id="header">
			<div class="container">
				<div class="row">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html" title="">
							<h1 th:text="#{lang}" style="font-size: 40px; color: black;">Article Management
								System</h1>
						</a>
					</div>
					<!-- End Logo -->
				</div>
			</div>
		</div>
		<!-- End Header -->
		<!-- Top Menu -->
		<div id="hornav" class="bottom-border-shadow">
			<div class="container no-padding border-bottom ">
				<div class="col-md-4 no-padding">
					<a th:href="@{/article/add/(id=*{id})}" id="add_button"
						class="btn btn-primary btn-sm pull-left"
						style="margin: 5px; line-height: 20px; margin-top: 13px; margin-right: 15px;"
						th:text="#{newRec}"><b>+</b> Add new Record</a>
				</div>
				<div class="col-md-4 no-padding"></div>
				<div class="col-md-4 no-padding">
					<a th:href="@{/article/upload/(id=*{id})}" id="add_button"
						class="btn btn-warning btn-sm pull-right"
						style="margin: 5px; line-height: 20px; margin-top: 13px;"><b>+</b>
						Upload File</a>
				</div>
			</div>
			<!-- End Top Menu -->
		<!-- === END HEADER === -->
		<!-- === BEGIN CONTENT === -->
		<div id="content">
			<div class="container" style="background-color: white">
				<div class="row col-md-12 custyle" style="margin: 0px;">
					<!-- <a href="#" class="btn btn-primary btn-sm pull-right" style="margin: 5px;"><b>+</b> Add new Record</a> -->
					<table class="table table-striped custab" style="margin: 0px;">
						<thead>

							<tr class="do_tr">
								<th th:text="#{ids}"   class="do_th">ID</th>
								<th th:text="#{title}" class="do_th">Title</th>
								<th th:text="#{desr}"  class="do_th">Desription</th>
								<th th:text="#{thum}"  class="do_th" style="width: 120px;">Thumbnail</th>
								<th th:text="#{perform}" class="text-center" style="width: 220px;" class="do_th">Action</th>
							</tr>
						</thead>
						<tr th:each="article:${articles}" th:object="${article}" >
							<td th:text="*{id}" style="line-height: 50px;" class="do_td">1</td>
							<td th:text="*{title}" style="line-height: 50px;" class="do_td">fast and
								furious 8</td>
							<td th:text="*{description}" style="line-height: 50px;" class="do_td">This movie is
								the good movie in 2017</td>
							<td style="line-height: 60px;" class="do_td"><img
								src="https://scontent.fpnh4-1.fna.fbcdn.net/v/t1.0-9/19225262_1379097012178665_1078357934327189036_n.jpg?oh=45475be3be6e105a53745a67b5b053ec&oe=59D2D709" th:src="*{thumbnail}"
								class="img-circle	" width="70px;" height="60px;"></td>
							<td class="text-center" style="line-height: 50px;" class="do_td">
								<a class='btn btn-primary btn-xs' th:href="@{/article/aid(id=*{id-1})}"  th:text="#{vie}" > <span
									class="glyphicon glyphicon-picture"></span>View
							</a> <a class='btn btn-success btn-xs' th:href="@{/article/update/(id=*{id})}"  th:text="#{up}" > <span
									class="glyphicon glyphicon-edit"></span>Update
							</a> <a class="btn btn-danger btn-xs" th:href="@{/article/remove/(id=*{id})}"  th:text="#{del}" > <span
									class="glyphicon glyphicon-remove"></span>Delete
							</a>
							</td>
						</tr>


					</table>
				</div>



			</div>
		</div>
		<!-- === END CONTENT === -->
		<!-- === BEGIN FOOTER === -->
		<!-- Footer -->
		<div id="footer" class="background-grey">
			<div class="container">
				<div class="row">
					<!-- Footer Menu -->
					<div id="footermenu" class="col-md-8">
						<ul class="list-unstyled list-inline">
							<li><a href="https://www.facebook.com/hokngy.nc"
								target="_blank">Facebook</a></li>
							<li><a
								href="https://www.youtube.com/watch?v=oRa1EawnlFA&spfreload=10"
								target="_blank">Youtube</a></li>
						</ul>
					</div>
					<!-- End Footer Menu -->
					<!-- Copyright -->
					<div id="copyright" class="col-md-4">
						<p class="pull-right">(c) 2017 Your Copyright Info</p>
					</div>
					<!-- End Copyright -->
				</div>
			</div>
		</div>

		<!-- JS -->
		<script type="text/javascript" src="js/jquery.min.js"
			type="text/javascript"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"
			type="text/javascript"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		<!-- Isotope - Portfolio Sorting -->
		<script type="text/javascript" src="js/jquery.isotope.js"
			type="text/javascript"></script>
		<!-- Mobile Menu - Slicknav -->
		<script type="text/javascript" src="js/jquery.slicknav.js"
			type="text/javascript"></script>
		<!-- Animate on Scroll-->
		<script type="text/javascript" src="js/jquery.visible.js"
			charset="utf-8"></script>
		<!-- Sticky Div -->
		<script type="text/javascript" src="js/jquery.sticky.js"
			charset="utf-8"></script>
		<!-- Slimbox2-->
		<script type="text/javascript" src="js/slimbox2.js" charset="utf-8"></script>
		<!-- Modernizr -->
		<script src="js/modernizr.custom.js" type="text/javascript"></script>
		<!-- End JS -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
</body>
</html>