<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap-3.3.7-dist/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="js/jquery.js">

<title>System</title>
<style>
/* /* table {
	margin: auto;
	border-collapse: collapse;
	text-align: center;
}

table, tr, th, td {
	border: 2px solid black;
}


h1 {
	text-align: center;
}

#view {
	width: 100px;
	color: white;
}
 */
img {
	width: 600px;
	height: 400px;
}
*
/
</style>

</head>
<body>
	<!-- 	<h1>Article View Detail</h1>
	<table>
		<tr>
			<th th:text="#{ids}">Id</th>
			<th th:text="#{title}">Title</th>
			<th th:text="#{desr}">Description</th>
			<th th:text="#{thum}">Thumbnail</th>
		</tr>
		<tr th:object="${article}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{description}"></td>
			<td><img src="" th:src="*{thumbnail}" /></td>
		</tr>
	</table>
 -->



	<h1 style="text-align: center; margin-bottom: 30px;">this is my
		pic</h1>
	<div class="container" style="text-align: center;">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4" th:object="${article}">
				<div>
					<img src="phone/myPic.jpg" alt="Texto Alternativo"
						class="img-circle img-thumbnail" />
					<h2>This is Photo</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="#" class="btn btn-primary" title="Enlace">Back</a>
				</div>
			</div>
			<div class="col-md-4"></div>

		</div>
	</div>




</body>
</html>