<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Homepage</title>

<link type="text/css" href="style.css" rel="stylesheet" />
</head>
<body>
	<p>
		<a href="/article/?lang=kh" class="style_tage_a"> <img
			src="http://flaglane.com/download/cambodian-flag/cambodian-flag-large.jpg"
			class="icon" />
		</a> <a href="/article/?lang=en" class="style_tage_a"> <img
			src="http://vignette2.wikia.nocookie.net/althistory/images/3/3f/Alternate_british_flag_by_alternateflags-d7dblmj.png/revision/latest?cb=20150202050052"
			class="icon" />
		</a>
	</p>
	<button>
		<a th:href="@{/article/add/(id=*{id})}" id="add_button">Insert Record</a>
	</button>
	<h1 th:text="#{lang}">Article Management System</h1>
	<table>
		<tr>
			<th th:text="#{ids}">Id</th>
			<th th:text="#{title}">Title</th>
			<th th:text="#{desr}">Description</th>
			<th th:text="#{thum}">Thumbnail</th>
			<th th:text="#{perform}">Perform</th>
		</tr>
		<tr th:each="article:${articles}" th:object="${article}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{description}"></td>
			<td><img src="" th:src="*{thumbnail}" /></td>
			<td>
				<button>
					<a th:href="@{/article/aid(id=*{id-1})}">View</a>
				</button>
				<button>
					<a th:href="@{/article/remove/(id=*{id})}">Remove</a>
				</button>
				<button>
					<a th:href="@{/article/update/(id=*{id})}">Update</a>
				</button>
				<button>
					<a th:href="@{/article/upload/(id=*{id})}">Upload File</a>
				</button>
			</td>
		</tr>
	</table>
</body>
</html>