<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="js/jquery.js">

<title>System</title>
<style>
table {
	margin: auto;
	border-collapse: collapse;
	text-align: center;
}

table, tr, th, td {
	border: 2px solid black;
}

img {
	width: 300px;
	height: 200px;
}

h1 {
	text-align: center;
}

#view {
	width: 100px;
	color: white;
}
</style>
 
 </head>
<body>
<h1>Article View Detail</h1>
	<table>
		<tr>
			<th th:text="#{ids}">Id</th>
			<th th:text="#{title}">Title</th>
			<th th:text="#{desr}">Description</th>
			<th th:text="#{thum}">Thumbnail</th>
		</tr>
		<tr th:object="${article}">
			<td th:text="*{id}"></td>
			<td th:text="*{title}"></td>
			<td th:text="*{description}"></td>
			<td><img src="" th:src="*{thumbnail}" /></td>
		</tr>
	</table>
</body>
</html>